* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

p {
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 15px; */
  gap: 10px;
  padding: 10px;
}

/*
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  display: block;
  left: 30px;
  position: relative;
  height: 25px;
  width: 200px;
  background: #fff;
  overflow: hidden;
}
.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #ff3d00;
  animation: 6s prog ease-in infinite;
}
@keyframes prog {
  to {
    width: 100%;
  }
} */
